<div class="chat-message-display">
  <div *ngFor="let message of messageList" class="message">
    <img nz-image
      width="200px"
      height="200px"
      [nzSrc]="imageUrl"
      alt="" class="profile-picture"
    >
    <div class="message-content">
      <span class="user-name">{{ message.UserChatRoomId }}</span>
      {{ message.Content }}
    </div> 
  </div>

  <div>
    <video width="320" height="240" controls>
      <source [src]="videoUrl" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>

  <ngx-doc-viewer
    [url]="docsUrl"
    viewer="google"
    style="width:100%;height:50vh;"
  ></ngx-doc-viewer>

  <!-- User Typing Indicator -->
  <div *ngIf="isTyping" class="typing-indicator">
    User is typing
    <span class="dot">.</span><span class="dot">.</span><span class="dot">.</span>
  </div>

</div>