:host{
  flex-grow: 1;
  overflow-y: scroll;
}

.chat-message-display {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
  max-height: 100%;
  min-width: 50vw;
}
  
.message {
  display: flex;
  align-items: center;
}

.message-section{
  max-width: 30%;
  display: flex;
  flex-direction: column;
  padding: 8px 12px;
}

app-message-extra-func{
  visibility: hidden;
}

.message-sent:hover app-message-extra-func{
  visibility: visible;
}

.message-content {
  max-width: 30%;
  padding: 10px 12px;
  border-radius: 20px;
  color: black; 
  box-sizing: border-box;
}

.message-text {
  border: 1px solid #ececec; 
  padding: 10px 15px;
  border-radius: 10px; 
  background-color: beige;

  flex-grow: 1;
  word-wrap: break-word;
  overflow-wrap: break-word;
  width: 100%;
}

.profile-picture {
  width: 50px; 
  height: 50px; 
  border-radius: 50%; 
  object-fit: cover;
}

.user-name {
  font-weight: bold;
  margin-bottom: 3px;
}

/* ------------------------------------------------- Sender Alignment ------------------------------------------------- */

.message-sent{
  justify-content: flex-start;
  direction: rtl;
}

.message-sent .message-text{
  direction: ltr;
}

.message-sent .timestamp{
  float: left;
  align-self: flex-end;
  direction: ltr;
}

/* ------------------------------------------------- Receiver Alignment ------------------------------------------------- */

.message-received{
  justify-content: flex-start;
}

.message-received .timestamp {
  float: right;
  align-self: flex-end;
}

/* ----------------------------------------------- Video Message Section CSS Start ----------------------------------------------- */

.message-section .video-file-message-section{
  display: flex;
  flex-direction: row;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: 1px solid #ececec; 
  background-color: beige;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  max-width: 100%;
}

.filename{
  margin: 0px 10px;
  max-width: 60%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.video-preview {
  width: 64px; 
  height: 64px;
  padding: 5px; 
}

.video-preview:hover {
  transform: scale(1.03); 
}

/* ------------------------------------------------ Video Message Section CSS End ------------------------------------------------ */

/* ----------------------------------------------- Image Message Section CSS Start ----------------------------------------------- */

.image-message{
  margin: 2px 0px;
}

/* ------------------------------------------------ Image Message Section CSS End ------------------------------------------------ */

/* ----------------------------------------------- Document Message Section CSS Start ----------------------------------------------- */

.message-section .doc-file-message-section{
  display: flex;
  flex-direction: row;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: 1px solid #ececec; 
  background-color: beige;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  width: 100%; 
  max-width: 100%;
}

.doc-icon{
  width: 64px; 
  height: 64px;
  padding: 5px;
  cursor: pointer;
}

.doc-icon:hover {
  transform: scale(1.03); 
}

.icon-download{
  font-size: 25px;
  cursor: pointer;
}

.icon-download:hover {
  transform: scale(1.03); 
}
/* ------------------------------------------------ Search Message ------------------------------------------------ */
.highlight {
  background-color: black;  
}
/* ------------------------------------------------ Document Message Section CSS End ------------------------------------------------ */