<div class="chat-message-display">
  <!-- Normal Message Display -->
  <div *ngFor="let message of messageList" class="message">
    <img nz-image
      width="200px"
      height="200px"
      [nzSrc]="imageUrl"
      alt="" class="profile-picture"
    >
    <div class="message-content">
      <span class="user-name">{{ message.UserChatRoomId }}</span>
      {{ message.Content }}
    </div> 
  </div>

  <!-- Video File Display -->
  <!-- <div class="video-container">
    <img nz-image
      width="200px"
      height="200px"
      [nzSrc]="imageUrl"
      alt="" class="profile-picture"
    >
    <img src="assets/videoicon.png" alt="Video Preview" class="video-preview" (click)="playVideo()">
  </div> -->

  <div class="document-container">
    <!-- Document Preview Thumbnail -->
    <img 
      src="assets/docicon.jpg"
      alt="Document Thumbnail"
      (click)="openDocument()"
    >

    <!-- Download document -->
    <span nz-icon nzType="vertical-align-bottom" nzTheme="outline" class="icon-download" (click)="downloadDocument()"></span>
  </div>

  <!-- User Typing Indicator -->
  <div *ngIf="isTyping" class="typing-indicator">
    User is typing
    <span class="dot">.</span><span class="dot">.</span><span class="dot">.</span>
  </div>

</div>