  /* search bar */
  .search-bar {
    margin-top: 15px; 
    margin-bottom: 15px; 
  }
  
  .search-bar input::placeholder {
    color: #131010; 
  }

  .search-bar nz-input-group-wrapper {
    display: flex;
    align-items: center;
  }
  
  .search-bar i {
    margin-right: 8px; 
    color: #fff; 
  }

  .search-bar input {
    border: 1px solid #111111; 
    border-radius: 8px;
    padding: 8px;
    padding-left: 18px;
    color: #000000; 
    background-color: #fff;
    transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  }
  
  .search-bar input:focus {
    /* color: #001529;
    border-color: #1890ff; 
    background-color: #fff; */
    color: #000000; /* Brighter text color for better contrast on dark backgrounds */
    border-color: #64B5F6; /* A lighter shade of blue for the border */
    background-color: #e6dede; /* A slightly lighter background to highlight the focus */
    box-shadow: 0 0 8px 0 rgba(24, 144, 255, 0.5); /* Adding a subtle glow effect */
    outline: none; /* Removing the default focus outline */
  }


  /* imge */
  .circular-image {
    border-radius: 50%;
    width: 30px;  
    height: 30px; 
    object-fit: cover;
    margin-right: 8px;  
  }
  
  /* addressFriendButton */
  .custom-button {
    background-color: transparent; 
    border: none;
    padding: 0;
  }

  /* user-add icon */
  .custom-icon {
    font-size: 18px;
    margin-left: 70px;
  }

  .st {
    position: absolute;
    right: 20px; 
    top: 0; 
    color: gray; 
    pointer-events: none;
  }

  .add{
    position: absolute;
    right: 20px; 
    top: 0; 
  }
  
  .search-button-container {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    padding: 6px; /* Adjust the padding as needed */
    margin-left: 21px;
}

.search-button {
  background-color: transparent; /* Match the color of the other divs */
  border: none; /* Remove the border */
  color: #666; /* Match the text color of the other items */
  display: flex;
  align-items: center; /* Align the icon and text */
  width: 100%; /* Make the button fill the container */
  padding: 6px 0; /* Add some padding */
}

.search-icon {
  margin-right: 8px; /* Add some space between the icon and the text */
  color: #64B5F6;
}

  .search-results-container {
  max-height: 200px; /* Adjust the height as needed */
  overflow-y: auto; /* Adds a scrollbar if the content exceeds the container height */
  width: 100%; /* Adjust if needed, ensures the container fits the width of its parent */
  border-radius: 8px;
}

.search-button-container:hover .search-icon{
  color:aqua
}

.search-button-container:hover .search-button-text{
  color:#fff
}