
<div class="search-button-container" [ngClass]="{'search-button-collapsed': isCollapsed}">
  <button nz-button nzType="default" class="search-button" (click)="ShowSearchModal()">
    <i nz-icon  nzType="search" class="search-icon"></i>
    <span class="search-button-text" *ngIf="iSCollapsed == false">Search to Add Friend</span>
  </button>
</div>

<nz-modal [(nzVisible)]="isVisible" nzTitle="Search" (nzOnCancel)="CloseModel()" [nzCancelText]="'Cancel'" (nzOnOk)="CloseModel()">
  <div *nzModalContent>
    <!-- Place the search bar code here, as you initially defined -->
    <nz-input-group class="search-bar" nzTheme="dark">
      <!-- <div *nzPrefix>
        <i nz-icon nzType="search" nzTheme="outline"></i>
      </div> -->
      <input nz-input [(ngModel)]="searchValue" [ngModelOptions]="{standalone: true}" (ngModelChange)="onSearchInputChange()"/>
    </nz-input-group>

    <!-- Conditional display of search results, as you initially had it -->

    <div *ngIf="searchValue != '' " class="search-results-container">
      <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
          <div *ngIf="searchResult.length > 0">
            <ul>
              <li nz-menu-item nzMatchRouter *ngFor="let result of searchResult">
                <img [src]="result.ProfilePicture" alt="Image" class="circular-image">
                {{ result.ProfileName }}
                <div class="st" *ngIf= "result.Status == 1">
                  Pending
                </div> 
                <div class="st" *ngIf= "result.Status  == 2">
                  Friend
                </div> 
  
                <div class="add" *ngIf= "result.Status  == 0 || result.Status  == 3 || result.Status  == 4">
                  <button class="custom-button" (click)="OnSendFriendRequest(result.UserId)">
                    <i class="custom-icon" nz-icon nzType="user-add"></i>
                  </button>
                </div>
              </li>
            </ul>
          </div>
          <div *ngIf="searchResult.length == 0">
            <ul>
              <li nz-menu-item nzMatchRouter>
                No Result Found !!!
              </li>
            </ul>
          </div>
      </ul>
    </div>
  </div>
  
</nz-modal>
