  /* search bar */
  .search-bar {
    margin-top: 20px; 
    margin-bottom: 20px; 
  }

  .search-bar input {
    border: 1px solid #001529; 
    border-radius: 4px;
    padding: 8px;
    color: #fff; 
    background-color: #001529;
  }
  
  .search-bar input::placeholder {
    color: #ccc; 
  }

  .search-bar nz-input-group-wrapper {
    display: flex;
    align-items: center;
  }
  
  .search-bar i {
    margin-right: 8px; 
    color: #fff; 
  }

  .search-bar input {
    transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  }
  
  .search-bar input:focus {
    /* color: #001529;
    border-color: #1890ff; 
    background-color: #fff; */
    color: #ffffff; /* Brighter text color for better contrast on dark backgrounds */
    border-color: #64B5F6; /* A lighter shade of blue for the border */
    background-color: #424242; /* A slightly lighter background to highlight the focus */
    box-shadow: 0 0 8px 0 rgba(24, 144, 255, 0.5); /* Adding a subtle glow effect */
    outline: none; /* Removing the default focus outline */
  }

  .centered-placeholder::placeholder {
    text-align: center;
    
  }

  /* imge */
  .circular-image {
    border-radius: 50%;
    width: 30px;  
    height: 30px; 
    object-fit: cover;
    margin-right: 8px;  
  }
  
  /* addressFriendButton */
  .custom-button {
    background-color: transparent; 
    border: none;
    padding: 0;
  }

  /* user-add icon */
  .custom-icon {
    font-size: 18px;
    margin-left: 70px;
  }