.user-profile-container {
  display: flex;
  align-items: center;
}

.user-profile-image {
  margin-right: 10px;
}

.user-profile-image nz-avatar {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}

.user-profile-name h1 {
  margin: 0;
  font-size: 1.25rem;
  color: #ece9e979;
}

/* Modal content */
.profile-picture-overlay {
  height: 160px;
  position: relative;
  cursor: pointer;
  display: flex;
  margin-bottom: 20px;
}

.modal-avatar {
  width: 160px; 
  height: 160px;
  border-radius: 50%; 
  display: block; 
  margin: 0 auto; 
  align-self: center;
}

.edit-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #007bff;
  cursor: pointer;
  font-size: 45px;
  display: none;
  pointer-events: none;
}

.profile-picture-overlay:hover .edit-icon {
  display: block;
}

/* Image options buttons */
.image-options {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

/* User details styling */
.user-details {
  margin-top: 20px;
}

.user-details p {
  font-size: 1rem;
  color: #666;
}

/* Profile name edit mode */
.profile-name-edit {
  display: flex;
  align-items: center;
}

.profile-name-edit p {
  margin: 0;
}

.nz-input-group {
  margin-left: 8px;
}

/* Buttons */
nz-button {
  margin-right: 5px;
}

/* Modal footer custom content */
.modalFooter {
  display: flex;
  justify-content: flex-end;
}

/* Ensure buttons in modal footer have some spacing */
.modalFooter nz-button:not(:last-child) {
  margin-right: 10px;
}

.user-details, .profile-name-edit, .user-details p {
  text-align: center;
  width: 100%; 
}

.ng-container {
  display: flex;
  justify-content: center; 
  flex-direction: column;
  align-items: center; 
}