.show-chat-room {
    display: flex; /* Use flexbox layout */
    align-items: center; /* Center items vertically */
    padding: 10px; /* Add some padding */
    background-color: beige;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: 2px solid #ececec; /* A subtle border to separate the header */
    position: sticky;
    top: 0; 
    z-index: 100;
  }
  
  .show-chat-room img.chatprofile {
    border-radius: 50%; /* Make the image round */
    margin-right: 15px; /* Add margin to the right of the image */
    width: 45px; /* Set a fixed width */
    height: 45px; /* And fixed height for the image */
    object-fit: cover; /* Ensure the image covers the area without distortion */
  }
  
  .show-chat-room h1 {
    font-size: 1.5em; /* Increase the font size of the header */
    margin: 0;
    color: #333; /* Darker text color for the title */
    font-weight: normal; /* Optional: normal font weight for a more modern look */
  }

  .typing-indicator {
    font-size: 16px; 
    color: #000; 
    display: inline;
    bottom: 0; 
    text-align: center; 
    margin-left: 10px; 
    background-color: transparent;
    color: black;
    font-style: italic;
  }
  
  .typing-indicator .dot {
    opacity: 0; 
    animation: fadeDot 1.5s infinite ease-in-out;
    margin-left: 4px; 
    font-size: 30px;
    color: #000;
    text-shadow: 0px 0px 2px #fff;
  }
  
  .typing-indicator .dot:nth-child(1) {
    animation-delay: 0s; /* No delay for the first dot */
  }
  
  .typing-indicator .dot:nth-child(2) {
    animation-delay: 0.5s; /* 0.5 seconds delay for the second dot */
  }
  
  .typing-indicator .dot:nth-child(3) {
    animation-delay: 1s; /* 1 second delay for the third dot */
  }
  
  @keyframes fadeDot {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  

  .dropdown-button {
    float: right; /* Align the button to the right */
    border: none; /* Remove border */
    background: none; /* Remove default background */
    padding: 10px; /* Add some padding */
    cursor: pointer; /* Change cursor on hover */
  }
  
  .right-content {
    /* Align the dropdown button to the right */
    margin-left: auto;
  }

  .profile-picture-overlay {
    height: 160px;
    position: relative;
    cursor: pointer;
    display: flex;
    margin-bottom: 20px;
  }
  
  .modal-avatar {
    width: 160px; 
    height: 160px;
    border-radius: 50%; 
    display: block; 
    margin: 0 auto; 
    align-self: center;
  }
  
  .edit-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #007bff;
    cursor: pointer;
    font-size: 45px;
    display: none;
    pointer-events: none;
  }
  
  .profile-picture-overlay:hover .edit-icon {
    display: block;
  }
  
  /* Image options buttons */
  .image-options {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  /* User details styling */
  .user-details {
    margin-top: 20px;
  }
  
  .user-details p {
    font-size: 1rem;
    color: #666;
  }
  
  /* Profile name edit mode */
  .profile-name-edit {
    display: flex;
    align-items: center;
  }
  
  .profile-name-edit p {
    margin: 0;
  }
  
  .nz-input-group {
    margin-left: 8px;
  }
  
  /* Buttons */
  nz-button {
    margin-right: 5px;
  }
  
  /* Modal footer custom content */
  .modalFooter {
    display: flex;
    justify-content: flex-end;
  }
  
  /* Ensure buttons in modal footer have some spacing */
  .modalFooter nz-button:not(:last-child) {
    margin-right: 10px;
  }
  
  .user-details, .profile-name-edit, .user-details p {
    text-align: center;
    width: 100%; 
  }
  
  .ng-container {
    display: flex;
    justify-content: center; 
    flex-direction: column;
    align-items: center; 
  }