.show-chat-room {
  position: relative; /* Ensure the container is positioned relative */
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: beige;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom: 2px solid #ececec;
  z-index: 100;
}
  
  .show-chat-room img.chatprofile {
    border-radius: 50%; /* Make the image round */
    margin-right: 15px; /* Add margin to the right of the image */
    width: 45px; /* Set a fixed width */
    height: 45px; /* And fixed height for the image */
    object-fit: cover; /* Ensure the image covers the area without distortion */
  }
  
  .show-chat-room h1 {
    font-size: 1.5em; /* Increase the font size of the header */
    margin: 0;
    color: #333; /* Darker text color for the title */
    font-weight: normal; /* Optional: normal font weight for a more modern look */
  }

  h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .typing-indicator {
    font-size: 16px; 
    color: #000; 
    display: inline;
    bottom: 0; 
    text-align: center; 
    margin-left: 10px; 
    background-color: transparent;
    color: black;
    font-style: italic;
  }
  
  .typing-indicator .dot {
    opacity: 0; 
    animation: fadeDot 1.5s infinite ease-in-out;
    margin-left: 4px; 
    font-size: 30px;
    color: #000;
    text-shadow: 0px 0px 2px #fff;
  }
  
  .typing-indicator .dot:nth-child(1) {
    animation-delay: 0s; /* No delay for the first dot */
  }
  
  .typing-indicator .dot:nth-child(2) {
    animation-delay: 0.5s; /* 0.5 seconds delay for the second dot */
  }
  
  .typing-indicator .dot:nth-child(3) {
    animation-delay: 1s; /* 1 second delay for the third dot */
  }
  
  @keyframes fadeDot {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  

/* DeleteFriendButton */
.custom-button {
  position: absolute; /* Take the button out of the document flow and position it absolutely */
  right: 20px; /* Position the button 10px from the right edge of its containing block */
  top: 50%; /* Center it vertically */
  transform: translateY(-50%); /* Offset by half its height to truly center it */
  z-index: 100; /* Make sure it's above other elements */
  background: transparent;
  border:none;
}

/* user-delete icon */
.custom-icon {
  font-size: 25px;
  color: red;
  position: relative;
}

  nz-button-group {
    margin: 0 8px 8px 0;} 

  /* imge */
  .circular-image {
    border-radius: 50%;
    width: 30px;  
    height: 30px; 
    object-fit: cover;
    margin-right: 8px;  
  }
  
.user-info {
  flex: 1;
}

.profile-name {
  font-weight: bold;
}

.action-buttons {
  margin-top: 10px;
}

.delete-icon {
  cursor: pointer;
  color: #ff4d4f; /* Customize the color if needed */
}

  .dropdown-button {
    position: absolute; /* Take the button out of the document flow and position it absolutely */
    right: 20px; /* Position the button 10px from the right edge of its containing block */
    top: 50%; /* Center it vertically */
    transform: translateY(-50%); /* Offset by half its height to truly center it */
    z-index: 100; /* Make sure it's above other elements */
    border: transparent;
  }
  
  .right-content {
    /* Align the dropdown button to the right */
    margin-left: auto;
  }

  .profile-picture-overlay {
    height: 160px;
    position: relative;
    cursor: pointer;
    display: flex;
    margin-bottom: 20px;
  }
  
  .modal-avatar {
    width: 160px; 
    height: 160px;
    border-radius: 50%; 
    display: block; 
    margin: 0 auto; 
    align-self: center;
  }
  
  .edit-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #007bff;
    cursor: pointer;
    font-size: 45px;
    display: none;
    pointer-events: none;
  }
  
  .profile-picture-overlay:hover .edit-icon {
    display: block;
  }
  
  /* Image options buttons */
  .image-options {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  /* User details styling */
  .group-details {
    margin-top: 20px;
    text-align: center;
  }
  
  .user-details p {
    font-size: 1rem;
    color: #666;
  }
  
  /* Profile name edit mode */
  .group-name-edit {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .profile-name-edit p {
    margin: 0;
  }
  
  .nz-input-group {
    margin-left: 8px;
  }
  
  /* Buttons */
  nz-button {
    margin-right: 5px;
  }
  
  /* Modal footer custom content */
  .modalFooter {
    display: flex;
    justify-content: flex-end;
  }
  
  /* Ensure buttons in modal footer have some spacing */
  .modalFooter nz-button:not(:last-child) {
    margin-right: 10px;
  }
  
  .user-details, .profile-name-edit, .user-details p {
    text-align: center;
    width: 100%; 
  }
  
  .ng-container {
    display: flex;
    justify-content: center; 
    flex-direction: column;
    align-items: center; 
  }



  /* group member list under group profile */
  .group-member-item-small {
    display: inline-block;
    margin-right: 10px;
    text-align: center;
  }
  
  .profile-image-small {
    width: 50px; /* Adjust as needed */
    height: 50px; /* Adjust as needed */
    border-radius: 50%; /* Ensures the image is circular */
    margin-bottom: 5px;
  }
  
  .profile-name {
    font-size: 12px; /* Adjust as needed */
    display: block;
    width: 60px; /* Adjust as needed */
    white-space: nowrap; /* Prevents the name from wrapping */
    overflow: hidden; /* Ensures the name is truncated if too long */
    text-overflow: ellipsis; /* Shows ellipsis for truncated text */
  }
  
  /* remove user delete text */
  .remove-user-text {
    color: rgb(240, 99, 99);
    cursor: pointer; /* Makes the text look clickable */
  }

.group-member-container {
  text-align: center;
  margin: 10px;
}

.group-member-item {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Add this line */
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.profile-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

/* Adjusted styles for online/offline status */
.show-chat-room .online-status {
  font-size: 12px; /* Smaller font size */
  color: rgba(0, 0, 0, 0.5); /* Faded color */
}

/* Adjusted styles for user-info */
.user-info {
  display: flex;
  flex-direction: column;
  align-items: left;
}

/* Search bar container */
.search-bar {
  position: absolute;
  right: 60px; /* Adjust the distance from the right side */
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  
}

/* Search input */
.search-bar input[type="text"] {
  width: 150px; /* Adjust the width as needed */
  height: 30px; /* Adjust the height as needed */
  padding: 5px; /* Adjust padding as needed */
  border: 1px solid #ccc; /* Border style */
  border-radius: 5px; /* Border radius */
  margin-right: 10px; /* Add some space between input and buttons */
}

/* Search result text */
.search-result-text {
  font-size: 12px; /* Adjust font size as needed */
  margin-right: 10px; /* Add some space between text and buttons */
}

/* Search buttons */
.search-bar button {
  background-color: transparent; /* Button background color */
  color: rgb(8, 8, 8); /* Button text color */
  padding: 3px 8px; /* Adjust padding as needed to make the button smaller */
  border: white; /* Remove border */
  border-radius: 5px; /* Border radius */
  cursor: pointer; /* Cursor style */
}

.search-bar.cancel-button {
  background-color: transparent; /* Transparent background */
  color: #ccc; /* Text color matches search bar input text */
  border: 1px solid #ccc; /* Border color matches input border */
  border-radius: 3px;
  padding: 5px 8px; /* Adjust padding as needed */
  font-size: 12px; /* Adjust font size */
  cursor: pointer;
}

.updown-icon {
  font-size: 15px;
  color: rgb(150, 142, 142);
  position: relative;
}

.alert.alert-danger {
  text-align: center; /* Centers the text inside the alert */
  display: block; /* Ensures it's a block-level element */
  clear: both; /* Ensures it will appear below the input if the input is floated */
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  padding: .75rem 1.25rem;
  margin-top: .25rem;
  border: 1px solid transparent;
  border-radius: .25rem;
  width: 100%; /* Ensures the alert takes the full width of its container */
  box-sizing: border-box; /* Makes sure padding and border are included in the width */
}

.group-name-edit {
  display: flex;
  flex-direction: column; /* This stacks children vertically */
  align-items: center; /* Aligns children to the start of the flex container */
}