/* imge */
.circular-image {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-right: 8px;
}

/* addFriendButton */
.custom-button {
  background-color: transparent;
  border: none;
  padding: 0;
}

/* user-add icon */
.custom-icon {
  font-size: 18px;
  float: left;
  margin-left: 8px;
  color: red;
  position: relative;
}

/* badge */
.badge {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 4px 8px;
  font-size: 12px;
}

/* friend-request.component.scss */
.friend-list-container {
  text-align: center;
  margin: 20px;
}

.friend-list-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.friend-request-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.friend-request-item {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.friend-request-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.profile-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.user-info {
  flex: 1;
}

.profile-name {
  font-weight: bold;
}

.action-buttons {
  margin-top: 10px;
}

.accept-button,
.reject-button {
  margin-right: 10px;
}

.cancel-button{
  background-color: skyblue;
}