
<div class="friend-request">
  <button nz-button nzType="link" class="custom-button" (click)="showModal()">
    <nz-badge [nzSize]="'small'" [nzCount]="getFriendRequest.length">
      <i nz-icon nzType="user-add" nzTheme="outline" class="custom-icon"></i>
    </nz-badge>
    <span class="friend-request-text" *ngIf="!isCollapsed"> Friend Request</span>
  </button>
</div>
  
<!-- Modal -->
<nz-modal [(nzVisible)]="isVisible" nzTitle="Friend Request Lists" (nzOnCancel)="handleCancel()"
  [nzCancelText]="'Cancel'">
  <ng-container *nzModalContent>

    <div class="friend-list-container">
      <div *ngIf="getFriendRequest.length > 0" class="friend-request-list">
        <div *ngFor="let request of getFriendRequest" class="friend-request-item">
          <img [src]="request.ProfilePicture" alt="Profile Image" class="profile-image">
          <div class="user-info">
            <span class="profile-name">{{ request.ProfileName }}</span>
            <div class="action-buttons">
              <button mat-icon-button class="accept-button" color="primary"
                (click)="request.UserId !== null ? acceptFriendRequest(request.UserId) : null">
                <i class="custom-icon" nz-icon nzType="check"></i> Accept
              </button>
              <button mat-icon-button class="reject-button" color="warn"
                (click)="request.UserId !== null ? rejectFriendRequest(request.UserId) : null">
                <i class="custom-icon" nz-icon nzType="close"></i> Reject
              </button>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="getFriendRequest.length === 0" class="no-result-message">
        No Friend Requests!
      </div>
    </div>
  </ng-container>

  <div nz-row nzGutter="16">
    <div nz-col nzSpan="12">
      <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
    </div>
  </div>
</nz-modal>