.chat-message-display {
  display: flex;
  flex-direction: column; 
  padding: 10px;
  position: relative;
  padding-bottom: 20px;
}
  
.message {
  display: flex;
  margin-bottom: 15px; /* Adds space between messages */
}

.profile-picture {
  width: 50px; 
  height: 50px; 
  border-radius: 50%; 
  margin-right: 10px;
}

.user-name {
  font-weight: bold;
  margin-right: 10px; /* Space after the user name */
}

.message-content {
  max-width: 60%; 
  padding: 8px 12px;
  border-radius: 16px;
  color: white; 
  background-color: #0b93f6;
  margin-left: 10px;
}

.typing-indicator {
  font-size: 16px; 
  color: #000; 
  display: flex;
  position: absolute;
  bottom: 0; 
  text-align: center; 
  margin-left: 75px; 
  padding: 5px 0; 
  background-color: transparent;
  color: black;
  font-style: italic;
}

.typing-indicator .dot {
  opacity: 0; 
  animation: fadeDot 1.5s infinite ease-in-out;
  margin-left: 4px; 
  font-size: 20px;
  color: #000;
  text-shadow: 0px 0px 2px #fff;
}

.typing-indicator .dot:nth-child(1) {
  animation-delay: 0s; /* No delay for the first dot */
}

.typing-indicator .dot:nth-child(2) {
  animation-delay: 0.5s; /* 0.5 seconds delay for the second dot */
}

.typing-indicator .dot:nth-child(3) {
  animation-delay: 1s; /* 1 second delay for the third dot */
}

@keyframes fadeDot {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}