<nz-layout class="app-layout">

  <!-- SideBar Start-->
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <!-- Friend Request Row -->
    <div class="sidebar-section">
      <app-addfriend [isCollapsed]="isCollapsed"></app-addfriend>
    </div>

    <!-- Search Bar Row -->
    <div class="sidebar-section">
      <app-searchbar [iSCollapsed]="isCollapsed"></app-searchbar>
    </div>

    <!-- Create Group Row -->
    <div class="sidebar-section">
      <app-creategroup [isCollapsed]="isCollapsed"></app-creategroup>
    </div>
    <hr> 
    <app-chatlist [isCollapsed]="isCollapsed"></app-chatlist>
    
    <div class="sidebar-footer">
      <app-user-profile [isCollapsed]="isCollapsed"></app-user-profile>
    </div>
  </nz-sider>
  <!-- SideBar End-->
  <nz-layout class="message-layout">
    <!-- Header Start-->
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <span class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></span>
          
        </span>
        <span><app-logout></app-logout></span>
      </div>
      
    </nz-header>
    <!-- Header End-->

    <!-- Message Area Start-->
    <nz-content>

      <div class="inner-content">
        <ng-container *ngIf="IsSelected; else emptyPage">
          <app-chatroomdisplay></app-chatroomdisplay>
        </ng-container>

        <ng-template #emptyPage>
          <app-user-login-page></app-user-login-page>
        </ng-template>

      </div>
    </nz-content>
    <!-- Message Area End-->
  </nz-layout>
</nz-layout>