<nz-layout class="app-layout">

  <!-- SideBar Start-->
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>Hello There</h1>
      </a>
      <app-addfriend></app-addfriend>
    </div>

    <app-searchbar></app-searchbar>
    <app-chatlist [isCollapsed]="isCollapsed"></app-chatlist>
    
  </nz-sider>
  <!-- SideBar End-->

  <nz-layout class="message-layout">
    <!-- Header Start-->
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <span class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></span>
        </span>
      </div>
      <span><app-logout></app-logout></span>
    </nz-header>
    <!-- Header End-->

    <!-- Message Area Start-->
    <nz-content>
      <div class="inner-content">

        <app-chatmessage></app-chatmessage>
        
        <app-messagebox></app-messagebox>

      </div>
    </nz-content>
    <!-- Message Area End-->

  </nz-layout>
</nz-layout>
