.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .register-form {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  
  .register-form-margin {
    margin-bottom: 16px;
  }
  
  .register-form-button {
    width: 100%;
  }
  
  .text-danger {
    color: red; 
  }
  
  .text-success {
    color: green; 
  }