.custom-button {
  position: flex;
  bottom: 25px; 
  right: 16px; 
  background-color: transparent; 
  border: none;
  padding: 10px;
  cursor: pointer;
  margin-left: 9px;
}

.custom-icon {
  font-size: 18px;
  float: left;
  margin-left: 8px;
  cursor: pointer;
  color: rgb(30, 126, 46);
}

.custom-input {
width: 200px;
margin: 0 8px 8px 0;
    margin-top: 10px; /* Adjust the margin as needed */
}

.create-group-chat-text {
  margin-left: 13px; /* Distance between the icon and text */
  color: #666;
}
[nz-button] {
  margin-right: 8px;
}
.custom-button:hover .custom-icon {
  color: rgb(16, 241, 53); /* Color of the icon on hover */
  background-color: #00050a;
}

.custom-button:hover .create-group-chat-text{
  color:#fff
}
  