<div>
  <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed" >

    <!-- Private Chat -->
    <li nz-submenu nzTitle="Private Chat" nzIcon="message" (click)="getChatList()">
      <ul class="chat-item-list">
        <!-- Display List of Conversation -->
        <li nz-menu-item *ngFor="let user of privateChat" class="chat-item">
          <img class="circular-image" alt="Profile">
          <strong class="user-info">{{ user.profileName }}</strong>
        </li>
      </ul>
    </li>

    <!-- Group Chat -->
    <li nz-submenu  nzTitle="Group Chat" nzIcon="usergroup-add" (click)="getChatList()">
      <ul class="chat-item-list">
        <li nz-menu-item *ngFor="let user of groupChat" class="chat-item">
          <img class="circular-image" alt="Profile">
          <strong class="user-info">{{ user.roomName }}</strong>
        </li>
      </ul>
    </li>
  </ul>
</div>