
.circular-image {
  position: relative;
  border-radius: 50%;
  width: 30px;  
  height: 30px; 
  object-fit: cover;
  z-index: 2;
}

.chat-item-list {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  max-height: 33vh;
}

.chat-item {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  overflow: hidden;
  background-color: #2B3E57;
  transition: background-color 1.0s ease;
}

.chat-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #483D8B;
  transition: width 1.0s ease-out;
  z-index: 1;
  border-radius: 8px;
}

.chat-item:hover::after {
  width: 100%;
}

.chat-item:hover{
  border: 2px solid white;
}

.user-info {
  position: relative;
  margin-left: 12px;
  z-index: 2;
}

.status-badge {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%) scale(1.5);
  z-index: 3;
}

.unread-messages {
  margin-left: auto; /* Pushes the unread count to the right */
  padding: 0 8px;
  background-color: #f56a00;
  color: white;
  border-radius: 15px;
  height: 20px;
  line-height: 20px; /* Vertically centers the text */
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px; /* Space before the online status indicator */
  z-index: 2; /* Ensure it's above the ::after pseudo-element */
}